<Properties StartupConfiguration="{C2E903DD-CDDC-4AE6-AFDE-B54511A5E1C0}|Default">
  <MonoDevelop.Ide.ItemProperties.IEatHealthy.iOS PreferredExecutionTarget="MonoDevelop.IPhone.IPhoneSimulatorTarget.0F802176-C2B6-4E37-88A4-4A6C016DECDB" />
  <MonoDevelop.Ide.Workbench ActiveDocument="iOS/Main.cs">
    <Files>
      <File FileName="iOS/ViewControllers/log.cs" Line="27" Column="1" />
      <File FileName="iOS/Main.cs" Line="17" Column="1" />
      <File FileName="iOS/ViewControllers/DetailViewControllers/BrowseItemDetailViewController.cs" Line="45" Column="1" />
      <File FileName="iOS/ViewControllers/ItemNewViewController.cs" Line="105" Column="3" />
    </Files>
  </MonoDevelop.Ide.Workbench>
  <MonoDevelop.Ide.Workspace ActiveConfiguration="Debug|iPhoneSimulator" />
  <MonoDevelop.Ide.DebuggingService.Breakpoints>
    <BreakpointStore />
  </MonoDevelop.Ide.DebuggingService.Breakpoints>
  <MonoDevelop.Ide.DebuggingService.PinnedWatches />
  <MultiItemStartupConfigurations />
</Properties>