<Properties StartupConfiguration="{C2E903DD-CDDC-4AE6-AFDE-B54511A5E1C0}|Default">
  <MonoDevelop.Ide.ItemProperties.IEatHealthy.iOS PreferredExecutionTarget="MonoDevelop.IPhone.IPhoneSimulatorTarget.CCB9EF01-6919-420D-B844-551559F2010F" automaticSigning="False" />
  <MonoDevelop.Ide.Workbench ActiveDocument="iOS/ViewControllers/SignupController.cs">
    <Files>
      <File FileName="iOS/Main.storyboard" />
      <File FileName="iOS/ViewControllers/WelcomepageViewController.cs" Line="15" Column="32" />
      <File FileName="iOS/Main.cs" Line="17" Column="1" />
      <File FileName="iOS/ViewControllers/ItemNewViewController.cs" Line="28" Column="14" />
      <File FileName="IEatHealthy/Models/UserAccount.cs" Line="11" Column="9" />
      <File FileName="IEatHealthy/Models/Item.cs" Line="7" Column="9" />
      <File FileName="iOS/ViewControllers/SignupController.cs" Line="23" Column="1" />
    </Files>
  </MonoDevelop.Ide.Workbench>
  <MonoDevelop.Ide.ItemProperties.IEatHealthy.Droid AndroidDesignerPreferredTheme="MasterDetailTheme" />
  <MonoDevelop.Ide.Workspace ActiveConfiguration="Debug|iPhoneSimulator" />
  <MonoDevelop.Ide.DebuggingService.Breakpoints>
    <BreakpointStore />
  </MonoDevelop.Ide.DebuggingService.Breakpoints>
  <MonoDevelop.Ide.DebuggingService.PinnedWatches />
  <MultiItemStartupConfigurations />
</Properties>